.reveal .compact {
    font-size: .8em;
}

.reveal .compact h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

.reveal .compact p {
    margin: 10px 0;
    line-height: 1.1;
}

.reveal h1, .reveal h2, .reveal h3 {
    color: #f1c40f;
}

.reveal section img {
    margin: 15px 0px;
    background: none;
    border: 0;
    box-shadow: none;
}

.reveal section .img-big {
    height: 500px;
}

.reveal section img.logo, .reveal section .logo img {
    margin: 15px 0px;
    background: none;
    border: none;
    box-shadow: none;
    height: 140px;
    vertical-align: middle;
}

.reveal table td.center, .reveal table th.center, .center {
    text-align: center;
}

.reveal section .logo-percentage {
    font-size: 4em;
    vertical-align: middle;
}

.reveal section img.logo-emblem {
    max-height: 200px;
    max-width: 200px;
}

.reveal section img.logo-wide {
    max-height: 200px;
    max-width: 300px;
}

.reveal section img.emblem {
    vertical-align: middle;
}

.reveal .width-50 {
    width: 50%;
}

.reveal .site-robot {
    max-width: 200px;
    flex-shrink: 1;
}

.reveal .site-robot-left {
    position: absolute;
    transform: rotate(-18deg);
    left: 0;
}

.reveal .site-robot-right {
    position: absolute;
    transform: rotate(18deg);
    right: 0;
    bottom: 0;
}

.reveal td {
    color: #fff;
}